body {
    font-family: 'Itim', cursive, 'Sofia Sans Extra Condensed', sans-serif;
    background-color: rgb(239, 239, 239);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitform{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
canvas {
    margin: 0;
    background-color: #fffefe;
}

button {
    padding: 1.5rem;
    background-color: #00249c;
    color: white;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin: 1vh 0.5vw;
}

button:hover {
    background-color: #b8d7ff;
    color: #1d1717;
    transition: .5s;
}

input {
    padding: 1rem;
    border: 1px solid black;
}

/* Media Query for iPads */
@media only screen and (max-width: 1024px) {
    body {
        font-size: 90%;
        overflow: hidden;
    }

    h1 {
        font-size: 2.5rem;
        margin: 2vh 2vw 0;
    }

    .text {
        margin: 0 20%;
    }
}
