
body {
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

h1{
    font-size: 50px;
    color: #1d1717;
    margin: 30px 20px 0 20px;
    letter-spacing: 10px;
    word-spacing: 10px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border:  solid #00249c;
}

canvas {
    width: 1600px;
    align-content: center;
    height: 800px;
    margin: 0px;
    background-color: #eeeeee;
    border: 1px solid gray;
    border-radius: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button {
    padding: 20px;
    width: 15%;
    background-color: #00249c;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #b8d7ff;
    color: #1d1717;
    transition: .5s;
}

input{
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    align-items: center;
}

.text{
    margin: 0 38%;
}
.text label{
    margin-right: 10px;
    color: #1d1717;
    font-size: 30px ;
}