<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <!-- Include any necessary CSS and JavaScript libraries -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Sofia+Sans+Extra+Condensed:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="content">
        <canvas id="canvas" width="800" height="500"></canvas>
    </div>
    <div class="submitform">
        <input type="text" id="inputField" placeholder="what do you write" required>
        <button id="clear">Clear</button>
        <button id="submit">Submit</button>
    </div>
    <script src="static/script.js"></script>
</body>
</html>